body {
    font-family: 'Montserrat', 'sans-serif';

}
h1, h2, h3, h4, h5, h6 {
    margin: 0 auto;
}
/*Header*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: black;
}
/*nav*/
.nav {
    font-size: 15px;
    text-transform: uppercase;
}
.nav__link {
    text-decoration: none;
    color: black;
    margin: 0 15px;
    vertical-align: top;
    position: relative;
    transition: color 0.5s linear;

}
.nav__link:after {
    content: "";
    background-color: blue;
    display: block;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 4px;
    top: 100%;
    left: 0;
    z-index: 1;
    border-radius: 10px;

    transition: opacity 0.5s linear;

}
.nav__link:hover {
    color: blue;
}
.nav__link:hover:after {
    opacity: 1;
}
/*Intro*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100vh;
    background: url("../images/background.jpg") center no-repeat;
    background-size: cover;
}
.intro__title {
      width: 100%;
    max-width: 600px;
    max-height: 600px;
    

    text-align: center;
}
/* About*/
.About__title {
    text-align: center;
}
.About {
    border: solid black;
    display: flex;
    justify-content: space-between;

}
.About__left {
    border: solid red;
    width: 300px;
    height: 300px;
    background: url("/assets/images/my_foto.jpg") center no-repeat;
    background-size: auto 100%;


}
.About__right {
    width: 40%;
    border: solid blue;
    display: flex;
}













